@import "general.scss";
body {
	@media (max-width: 768px) {
		background-color: $companyColor;
	}
}
.main {
	padding-top: 35px;
	padding-bottom: 50px;
	background-image: url(../img/mr.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	@media (max-width: 768px) {
		background-image: none;
	}
}
.buy {
	&__title {
		font-size: $textSize*1.64;
		margin-top: 0px;
		margin-bottom: 25px;
	}
}

.card {
	width: 800px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/cloud4.png);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: auto;
  	@media (max-width: 768px) {
  		width: auto;
		height: auto;
		display: block;
		background-image: none;
	}
}

.payment {

	&__title {
		width: 410px;
		font-size: $textSize*1.4;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	&__content {
		display: flex;
		align-items: flex-end;
		font-size: $textSize/1.2;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	&__radio {
		display: none;
		&:checked + .payment__label::before {
			display: block;
		}
	}
	&__label {
		display: inline-block;
		width: 23px;
		height: 23px;
		margin-right: 20px;
		border-radius: 25px;
		border: 1px solid $textColor;
		position: relative;
		&:before {
			display: none;
			content: '';
			width: 14px;
			height: 14px;
			background-image: url(../img/radio.png);
			background-repeat: no-repeat;
  			background-size: contain;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
		}
	}
}
.info {
	&__block {
		padding: 20px;
		margin-bottom: 30px;
		border: 4px solid $textColor;
		border-radius: 20px;
	}
	&__field {
		background: $bgColor;
		border: 1px solid $textColor;
		height: 40px;

	}
	&__name {
		width: 360px;
		@media (max-width: 768px) {
			width: 270px;
		}
	}
	&__number {
		width: 290px;
		@media (max-width: 768px) {
			width: 270px;
		}
		
	}
	&__date {
		width: 60px;

		&_block {
			margin-right: 145px;
			@media (max-width: 768px) {
				margin-right: 45px;
			}
		}
	}
	&__cvv {
		width: 85px;
		height: 40px;
	}
	&__title {
		font-weight: 300;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 5px;
		&_first {
		margin-top: 0;
		}
	}
	&__verification {
		display: flex;
	
	}
	&__label_submit {
		display: flex;
		justify-content: center;
	}
}